@use "../vars" as *;

.btn {
  margin: 0;
  border: 1px solid var(--btn-border-color);

  position: relative;
  padding: 2em /* 32px */ 3em /* 48px */;
  cursor: pointer;
  border-radius: 2em;
  transition:
    box-shadow $speed,
    transform $speed-x3 $ttf,
    border-color $speed;

  &:hover {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
    // border-color: $red-900;
  }

  &:active {
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }

  //**//
  &--md {
    padding: 1.5em /*24px*/;
    border-radius: 1.5em;
  }

  &--sm {
    padding: 0;
  }

  &--icon {
    border: none !important;
    background: transparent !important;

    &:hover {
      box-shadow: none;
    }
  }

  &__icon {
    font-size: 3.2rem;
  }

  &--outline {
    padding: 0.5rem 0.6rem;
    border-radius: 1em;
    background-color: transparent !important;
    border: 1px solid currentColor;
    transition:
      background-color $speed,
      box-shadow $speed,
      transform $speed-x3 $ttf;

    .btn__icon {
      font-size: 1.2rem;
    }

    &:hover {
      box-shadow: none;
    }
  }
}

.pomodoro .btn.btn--outline:hover {
  background-color: $red-alpha-100;
}

.break .btn.btn--outline:hover {
  background-color: $green-alpha-100;
}

.longBreak .btn.btn--outline:hover {
  background-color: $blue-alpha-100;
}

.pomodoro .btn {
  --btn-border-color: #{$red-900};
  background-color: $red-alpha-700;
  color: $red-900;

  &.sec {
    background-color: $red-alpha-100;
  }

  &.sec-2 {
    background-color: transparent;
  }
}

.break .btn {
  --btn-border-color: #{$green-900};
  background-color: $green-alpha-600;
  color: $green-900;

  &.sec {
    background-color: $green-alpha-100;
  }

  &.sec-2 {
    background-color: transparent;
  }
}

.longBreak .btn {
  --btn-border-color: #{$blue-900};
  background-color: $blue-alpha-600;
  color: $blue-900;

  &.sec {
    background-color: $blue-alpha-100;
  }

  &.sec-2 {
    background-color: transparent;
  }
}
