@use "../vars" as *;

.modal {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-family: $RobotoFlex;
  z-index: 10;

  &__container {
    position: relative;
    border-radius: 2.4rem;
    max-width: 400px;
    background-color: inherit;
    padding: 2.4rem;
  }
}

.modal.modal--open {
  display: flex;
}

.pomodoro .modal__container {
  background-color: $red-50;
}

.break .modal__container {
  background-color: $green-50;
}

.longBreak .modal__container {
  background-color: $blue-50;
}

@media screen and (max-width: 550px) {
  .modal__container {
    max-width: 90%;
  }
}
