@use "../vars" as *;

.modal {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &__container {
    position: relative;
    border-radius: 5px;
    max-width: 400px;
    background-color: inherit;
    padding: 1rem;
  }

  &__close {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: inherit;
      color: #242424;
    }
  }
}

.modal.modal--open {
  display: flex;
}

@media screen and (max-width: 550px) {
  .modal__container {
    max-width: 90%;
  }
}
