@use "../vars" as *;

.settings {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__header {
    min-width: 30rem;
    @include flex(space-between, center);
  }

  &__title {
    display: flex;
    gap: 1.5rem;

    margin: 0;
    font-weight: 700;
    font-size: 2.4rem;
  }

  &__closeModal {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
  }

  &__form {
    font-size: 1.8rem;
  }

  &__field {
    padding-bottom: 2.25rem;
    @include flex(space-between, center);

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.attribution {
  padding-top: 2rem;
  border-top: 1px solid $black-alpha-100;
  font-size: 1.4rem;
  color: $black-alpha;
  @include flex(center, center, column);
  line-height: 1.5;
  font-family: $Roboto;
}
