@use "../vars" as *;

.timer {
  @include flex(center, center, column, 3rem);

  &__clock {
    @include flex(center, center, column);
    font-family: $RobotoFlex;
    font-weight: 200;
    font-size: 20rem;
    line-height: 0.85;
  }

  // Actions
  &__actions {
    @include flex(center, center, row, 1.6rem);
  }

  &__btn {
    min-width: 12rem;
  }
}
