@use "./vars" as *;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  @include flex(center, center);
  font-family: $Roboto;
}

.pomodoro {
  color: $red-900;
}

.break {
  color: $green-900;
}

.longBreak {
  color: $blue-900;
}

#root {
  height: 100%;
}

@media screen and (max-width: 412px) {
  body {
    transform: scale(0.85);
  }
}
